# Q-1

### A database is an organized collection of structured information, or data, typically stored electronically in a computer system.

SQL and NoSQL are two different types of database management systems (DBMS) with different approaches to data storage, data querying, and data modeling. Here are some of the main differences between SQL and NoSQL databases:

Data Structure: SQL databases store data in structured tables with predefined columns and data types, while NoSQL databases store data in unstructured or semi-structured documents or key-value pairs.

Scalability: SQL databases are vertically scalable, meaning that they can be scaled up by adding more processing power or memory to a single server. NoSQL databases, on the other hand, are horizontally scalable, meaning that they can be scaled out by adding more servers to a distributed system.

Querying: SQL databases use a structured query language (SQL) to retrieve and manipulate data, which is well-suited for complex queries involving multiple tables and relationships. NoSQL databases use a variety of query languages, including document-based queries, key-value queries, and graph-based queries.

Schema: SQL databases have a rigid schema that defines the structure of the database, including the tables, columns, and data types. NoSQL databases, on the other hand, have a flexible schema that allows for dynamic changes to the data model as new data is added or existing data is modified.

ACID Compliance: SQL databases are typically ACID-compliant, which means that they guarantee the properties of Atomicity, Consistency, Isolation, and Durability. NoSQL databases, on the other hand, may sacrifice some of these properties in order to achieve greater scalability and performance.

Use Cases: SQL databases are well-suited for applications that require complex data modeling, transactions, and ad-hoc querying. NoSQL databases are often used for large-scale applications that require high scalability, low latency, and flexible data modeling, such as real-time analytics, social media, and content management systems

# Q-2

### DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) that is used to define and manage the structure of a database. DDL statements are used to create, modify, and delete database objects such as tables, indexes, constraints, and views.

### CREATE: This DDL statement is used to create a new table, index, or view in the database. For example, the following SQL statement creates a new table called "customers" with columns for customer ID, name, and email:

In [1]:
CREATE TABLE customers (
  id INT PRIMARY KEY,
  name VARCHAR(50),
  email VARCHAR(50)
);

SyntaxError: invalid syntax (3031572598.py, line 1)

### DROP: This DDL statement is used to delete a table, index, or view from the database. For example, the following SQL statement deletes the "customers" table:

In [2]:
DROP TABLE customers;

SyntaxError: invalid syntax (1894611224.py, line 1)

### ALTER: This DDL statement is used to modify the structure of an existing table, such as adding or removing columns or changing the data type of a column. For example, the following SQL statement adds a new column called "phone" to the "customers" table:

In [3]:
ALTER TABLE customers
ADD phone VARCHAR(20);

SyntaxError: invalid syntax (1392994793.py, line 1)

### TRUNCATE: This DDL statement is used to remove all data from a table, but it does not delete the table structure. For example, the following SQL statement removes all data from the "customers" table:

In [4]:
TRUNCATE TABLE customers;

SyntaxError: invalid syntax (525203214.py, line 1)

# Q-3

### DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used to modify data stored in a database. DML statements are used to add, update, and delete data from tables.

### INSERT: This DML statement is used to add new rows to a table. For example, the following SQL statement inserts a new row into the "customers" table with values for the "name" and "email" columns:

In [5]:
INSERT INTO customers (name, email)
VALUES ('John Doe', 'john.doe@example.com');

SyntaxError: invalid syntax (4187510764.py, line 1)

### UPDATE: This DML statement is used to modify existing rows in a table. For example, the following SQL statement updates the "email" column for the row in the "customers" table where the "id" is 1:

In [6]:
UPDATE customers
SET email = 'jane.doe@example.com'
WHERE id = 1;

SyntaxError: invalid syntax (1500115105.py, line 1)

### DELETE: This DML statement is used to remove rows from a table. For example, the following SQL statement removes the row in the "customers" table where the "id" is 2:

In [7]:
DELETE FROM customers
WHERE id = 2;

SyntaxError: invalid syntax (52503515.py, line 1)

# Q-4

### DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used to retrieve data from a database. DQL statements are used to query data from tables.

 ### The SELECT statement is used to retrieve data from a database by specifying the columns and table to query and an optional condition to limit the rows returned.

In [8]:
SELECT * FROM customers WHERE id = 1;

SyntaxError: invalid syntax (4032034747.py, line 1)

# Q-5

### A primary key is a column or a set of columns that uniquely identifies each row in a table. It is used to enforce data integrity and ensure that each row in the table is unique. The primary key is also used to define relationships between tables. In most cases, the primary key is a single column, but it can also be a combination of columns.

### A foreign key is a column or a set of columns in a table that refers to the primary key of another table. It is used to establish a link between two tables and enforce referential integrity. The foreign key is used to maintain consistency between the data in the related tables. It ensures that the data entered in the child table is consistent with the data in the parent table.

# Q-6

In [9]:
import mysql.connector
mydb = mysql.connector.connect(
    host = "localhost"
    user = "abc"
    password = "password"
)
mycursor = mydb.cursor()
mycursor.execute("")

SyntaxError: invalid syntax. Perhaps you forgot a comma? (2408115257.py, line 3)

### The cursor() method creates a cursor object that allows us to execute SQL queries, and the execute() method is used to execute a SQL query on the cursor object.

# Q-6

### The order of execution of SQL clauses in an SQL query is as follows:

### 1.FROM: Specifies the table(s) from which data will be retrieved.
### 2.JOIN: Joins multiple tables together based on a specified condition.
### 3.WHERE: Filters rows based on a specified condition.
### 4.GROUP BY: Groups rows based on a specified column.
### 5.HAVING: Filters groups based on a specified condition.
### 6.SELECT: Selects columns from the table(s) that are included in the FROM clause.
### 7.DISTINCT: Removes duplicate rows from the result set.
### 8.ORDER BY: Sorts rows based on a specified column or columns.
### 9.LIMIT/OFFSET: Limits the number of rows returned by the query and/or specifies the starting row for the result set.